
.task {
    margin: 4rem 0 1.5rem;
}

.task header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createdTasks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 

.createdTasks strong {
    color: var(--blue);
    font-size: 0.875rem;
    line-height: 1.6;
} 

.createdTasks p {
    color: var(--white);
    font-size: 0.75rem;
    line-height: 1.6;
    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 100%;
} 

.completedTasks {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
} 

.completedTasks strong {
    color: var(--purple);
    font-size: 0.875rem;
    line-height: 1.6;
} 

.completedTasks p {
    display: block;
    color: var(--white);
    font-size: 0.75rem;
    line-height: 1.6;
    font-weight: bold;
    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
} 


.taskContent {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--gray-400);
    border-radius: 8px;
    height: 4.5rem;
}

.taskContent + .taskContent {
    margin-top: 0.75rem;
}


.taskContent input[type="checkbox"] {
    border-radius: 100%;
    margin-right: 0.75rem;
    width: 24px;
    height: 24px;
    border: 3px solid var(--blue);
    background: transparent;
    appearance: none;
}

.taskContent input[type="checkbox"]:hover {
    background: var(--purple);
    cursor: pointer;
}


.taskContent input[type="checkbox"]:checked {
    background: var(--purple);
}

.taskContent input[type="checkbox"]:checked::after {
    content: "\2713";
    padding: 0 0.25rem;
    color: white;
}

.taskContent p {
    width: 100%;
    font-size: 0.875rem;
    color: var(--gray-100);
    line-height: 1.4;
}

.taskContent input[type="checkbox"]:checked + p {
    text-decoration: line-through;
    color: var(--gray-300);
}

.taskContent button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;

    display: flex;
    align-items: center;
}

.taskContent button:hover {
    color: var(--red);
}